@charset "utf-8";
*{
	box-sizing:border-box;
}
body{
	font-family:Tahoma;
	font-size:15px;
	width:972px;
	margin:0px auto;
}
#Banner{
	width: 972px;
    height: 143px;
	background-color:#066;
}
#menu{
	background:#00F;
	height:30px;
}
#menu ul{
	list-style-type:none;
	padding-left:0px;
}
#menu ul li{
	display:inline-table;
	width:100px;
	height:30px;
	line-height:30px;
	margin-left:0px;
	text-align:center;
}
#menu ul li a{
	text-decoration:none;
	color:white;
	display:block;
}
#menu ul li a:hover{
	background-color:#f1f1f1;
	color:black;
}
#main #left{
	background:lightblue;
	height:800px;
	width:136px;
	float:left;
}
#main #left ul{
	list-style-type:none;
	padding-left:4px;
	padding-bottom:0px;
}
#main #left ul li{
	margin-left:0px;
}
#main #mid{
	background:#f1f1f1;
	height:800px;
	width:700px;
	float:left;
	padding-top:0px;
}
#main #mid ul{
	list-style-type:none;
	padding:0px 0px 0px 3px;
}
#main #mid ul li{
	float:left;
	text-decoration:none;
	width:220px;
	height:60px;
	margin-right:100px;
	margin-bottom:20px;
	padding-bottom:0px;
}
#main #mid ul li a{
	text-decoration:none;
	color:#000;
	margin-left:20px;
}
#main #mid ul li img{
	float:left;
	margin:auto 5px 25px 15px;
}
#main #right{
	background:lightblue;
	height:800px;
	width:136px;
	float:left;
}
#footer{
	background:#f1f1f1;
	height:40px;
	clear:left;
}
	


