@charset "utf-8";
body{
	font-family:Tahoma;
	width:1000px;
	margin: 0px auto;
}
#header{
	width:1000px;
	height:40px;
}
#main #left{
	width:150px;
	height:626px;
	float:left;
	min-height:550px;
}
#main #left ul li{
	list-style-type:none;
	margin-bottom:12px;
	margin-left:22.5px;
}
#main #center{
	width:300px;
	height:626px;
	background-color:#C93;
	float:left;
	min-height:500px;
	font-size:15px;
}
#main #right{
	width:250px;
	height:626px;
	min-height:500px;
	float:left;
	background-color:#C93;
}






	


